/*navbar CSS*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cadcfc;
}

nav {
    background-color: #00246b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid white;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
}


/* chatbox*/
.Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00246b;
    height: 300px;
}

.Header h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    display: block;
    text-align: center;
}


/*Heading of a page*/

.heading h1 {
    margin-left: -50px;
    margin-top: 20px;
    color: white;
    font-family: satisfy;
    font-size: 100px;
}

.heading h3 {
    margin-left: -50px;
    color: white;
    margin-top: -70px;
    font-weight: 400;
}

.contact-info-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 25px;
    margin-top: -30px;
    padding: 5px;
    border-radius: 5px;
}

.contact-card:hover {
    box-shadow: 0px 0px 20px 10px #a6a6a6;
    transition: 1s;
}

.contact-card h3 {
    color: black;
    margin-top: 90px;
    margin-left: -190px;
}

.email-head {
    color: black;
    margin-top: 90px;
    margin-right: -180px;
}

.address-img {
    height: 90px;
    margin-left: 25px;
    margin-top: -5px;
}

.call-img {
    height: 90px;
    margin-left: 25px;
    margin-top: -5px;
}

.email-img {
    height: 90px;
    margin-right: -150;
    margin-top: -5px;
}

.contact-card h4 {
    font-size: 15px;
    margin: -5px;
    margin-top: -30px;
    text-align: center;
    font-size: 13.5px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email-text {
    margin-top: 130px;
    margin-left: 40px;
    font-size: 15px;
    text-align: center;
    font-size: 13.5px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.map {
    margin: 10px;
    height: 550px;
    width: 400px;
    border-radius: 10px;
}

.map:hover {
    box-shadow: 0px 0px 20px 5px gray;
    transition: 1s;
}

.map-chat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.chat h4 {
    color: #ff6600;
}

.chat {
    background-color: white;
    height: 550px;
    width: 400px;
    padding: 10px;
    padding-top: 10px;
    border-radius: 20px;
    padding-left: 25px;
}

.chat:hover {
    background-color: #ccccff;
    box-shadow: 0px 0px 20px 3px gray;
    transition: 1s;
}

.chat h2 {
    font-size: 30px;
}

.inputbox {
    margin: 6px;
    font-family: poppins;
    font-weight: 600;
}

.input {
    width: 300px;
    padding: 3px;
    border: none;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

.input:hover {
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    transition: 1s;
}

.input-desc {
    width: 300px;
    height: 90px;
    background-color: #e6e6e6;
    padding: 3px;
    border-radius: 5px;
    border: none;
}


.input-desc:hover {
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    transition: 1s;
}

.submit {
    background-color: #0000e6;
    height: 30px;
    width: 300px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
}

.submit:hover {
    box-shadow: 0px 0px 30px 10px #8080ff;
    transition: 1s;
}

/*Media queries*/
/* small device */
@media screen and (max-width: 300px) {
    nav ul li a {
        font-size: 10px;
        padding: 6px;
    }

    .logo img {
        height: 25px;
        margin-left: 5px;
    }


    .heading h1 {
        font-size: 60px;
    }


    .chat h2 {
        font-size: 20px;
    }

    .heading h3 {
        margin-top: -40px;
        margin-left: 3px;
    }

    .Header {
        height: 200px;
    }

    .email-img {
        margin-right: 60px;
    }

    .email-text {
        margin-top: -30px;
        margin-left: 10px;
        font-size: 15px;
    }

    .email-head {
        margin-right: 20px;
    }

    .contact-card {
        height: 150px;
        width: 150px;
        margin: 20px;
        margin-top: -25px;
        padding: 3px;
    }

    

    .contact-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 150px;
        width: 150px;
        margin: 20px;
        margin-top: -25px;
        padding: 3px;
    }
    

    .map {
        margin: 5px;
        height: 500px;
        width: 350px;
    }

    .chat {
        height: 500px;
        width: 350px;
        padding: 5px;
        margin-top: 40px;
        margin: 5px;
    }

    .contact-card h3 {
        margin-left: -160px;
        font-size: 15px;
    }

    .contact-card h4 {
        font-size: 13px;
    }
}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    nav ul li a {
        font-size: 15px;
        padding: 13px;
    }

    .logo img {
        height: 40px;
        margin-left: 5px;
    }

    .email-head {
        color: black;
        margin-top: 90px;
        margin-right: -190px;
    }


}

/* normal device */
@media screen and (min-width: 601px) and (max-width: 768px) {
    nav ul li a {
        font-size: 13px;
        padding: 7px;
    }

    .logo img {
        height: 30px;
        margin-left: 5px;
    }

    .heading h1 {
        font-size: 80px;
    }

    .heading h3 {
        margin-left: 5px;
    }

    .Header {
        height: 250px;
    }

    .email-img {
        margin-right: 60px;
    }

    .email-text {
        margin-top: -30px;
        margin-left: 10px;
    }

    .email-head {
        margin-right: 20px;
    }

    .contact-card {
        height: 200px;
        width: 150px;
        margin: 20px;
        margin-top: -25px;
        padding: 3px;
    }

    .map {
        margin: 5px;
        height: 500px;
        width: 350px;
    }

    .chat {
        height: 500px;
        width: 350px;
        padding: 5px;
        margin-top: 40px;
    }

    .contact-card h3 {
        margin-left: -160px;
        font-size: 15px;
    }

    .contact-card h4 {
        font-size: 13px;
    }
}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    nav ul li a {
        font-size: 15px;
        padding: 13px;
    }

    .logo img {
        height: 40px;
        margin-left: 5px;
    }

    .email-head {
        color: black;
        margin-top: 90px;
        margin-right: -190px;
    }
}

/* large device */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    nav ul li a {
        font-size: 17px;
        padding: 15px;
    }

    .logo img {
        height: 40px;
        margin-left: 5px;
    }

    .heading h3 {
        margin-left: 60px;
    }

    .contact-card h3 {
        color: black;
        margin-top: 90px;
        margin-left: -160px;
    }

    .address-img {
        height: 110px;
    }
}

.footer {
    background: #00246b;
    margin-top: 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: grey;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}