body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cadcfc;
}

nav {
    background-color: #00246b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
}


/* small device */
@media screen and (max-width: 600px){
    nav ul li a {
        font-size: 10px;
        padding: 6px;
    }
    .logo img{
        height: 25px;
        margin-left: 5px;
    }
    .content-image img{
        display: none;
    }
    .content-container .content h3{
        font-size: 40px;
        margin-right: 80px;
        text-align: center;
    }
    .content-container .content p{
        margin-right: 80px;
        text-align: center;
    }
    .content button{
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color: #00246b;
        color: #fff;
        margin-left: 105px;
    }
    
}

/* normal device */
@media screen and (min-width: 601px) and (max-width: 768px){
    nav ul li a {
        font-size: 13px;
        padding: 7px;
    }
    .logo img{
        height: 30px;
        margin-left: 5px;
    }
}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px){
    nav ul li a {
        font-size: 15px;
        padding: 13px;
    }
    .logo img{
        height: 40px;
        margin-left: 5px;
    }
}

/* large device */
@media screen and (min-width: 993px) and (max-width: 1200px){
    nav ul li a {
        font-size: 17px;
        padding: 15px;
    }
    .logo img{
        height: 40px;
        margin-left: 5px;
    }
}

.content-container{
    display: flex;
    justify-content: space-between;
}

.content{
    margin-top: 70px;
    margin-left: 90px;
}

.content h3{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h3 span{
    color: #00246b;
}

.content p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(94, 91, 91);
}

.content button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #00246b;
    color: #fff;
}

.content button:hover{
    background-color: #0036b1;
}

.content-image img{
    height: 500px;
    width: 500px;
    margin-top: 30px;
    margin-right: 90px;
    border-bottom: solid 2px;
}

.footer{
    background-color: #00246b;
    margin-top: 100px;
    padding: 90px;
}