body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #cadcfc;
}

nav {
    background-color: #00246b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    
  }
  .bg{
    background-color: #cadcfc;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
  }
  
  .logo img {
    height: 50px;
    margin-left: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    
    float: left;
  }
  
  nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
  }

  .span{
    color:  #00246b;
   
   }
   
   .span1{
     color: white;
     font-size: 30px;
    
    }

    .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
      width: 300px;
      border-radius: 10px;
      height: 440px;
      justify-content: center;
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      
      }
      
      .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border: 2px solid dashed;
      box-shadow: 0px 0px 40px 0px #0036b1;
    transition-duration: 0.5s;
      }
      
      .card-heading{
        font-size: 20px;
        text-align: center;
        }

        .btn{
          color:white;
          background-color: tomato;
          font-size: 18px;
          border-radius: 7px;
          border: none;
          margin-left: 60px;
          padding: 6px 15px 6px 15px;
          }
        
          .span{
            color:  #00246b;
           
           }
           
           .span1{
             color: white;
             font-size: 30px;
            
            }
        
          .btn:hover {
            background-color: #41d463;
            border: 2px solid #000000;
            border-radius: 7px;
          }
          
        .card-img {
          border-radius: 6px 6px 0px 0px;
        }
        
        .container1 {
        padding: 2px 16px;
        flex-direction: row;
        }
        
        .card-container{
          display:flex;
          margin-left: 20px;
          margin-top: 20px;
          justify-content: space-around;
          flex-wrap: wrap;
        }

         .bg-img{
        position: absolute;
        top: 95px;
        right:30px;
        }
        
        .p-heading{
        font-size: 30px;
        }
        
        .card-description{
        text-align:center;
        font-size: 18px;
        }
        
        .btn-image{
        padding: 5px;
        }
        
        
        .page-footer{
          color:black;
          border-radius: 6px;
          font-size: 20px;
          text-align: center;
          width: 300px;
          
        }
        
        
        
        .learn{
          
          top: 40px;
        }
        
        .rating-image{
         
          margin-left: 100px;
        }
    


        nav span{
          color: #fff;
          font-size: 15px;
          margin-top: 20px;
          padding-left: 20px;
          font-weight: bold;
      }
      nav span:hover{
          color: #cadcfc;
      }
      
      .container .logo{
          display: flex;
      }



        
/* small device */
@media screen and  (max-width: 600px){
  nav ul li a {
      font-size: 10px;
      padding: 6px;
  }
  .logo img{
      height: 25px;
      margin-left: 5px;
  }

  .page-footer{
    
    border-radius: 6px;
    font-size: 20px;
    color: black
    }

    .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
      width: 300px;
      border-radius: 10px;
      height: 440px;
      justify-content: center;
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      }

 .bg-img{
  display: none;
 }

}

/* normal device */
@media screen and (min-width: 601px) and (max-width: 768px){
  nav ul li a {
      font-size: 13px;
      padding: 7px;
  }
  .logo img{
      height: 30px;
      margin-left: 5px;
  }
  .page-footer{
    
    border-radius: 6px;
    font-size: 20px;
    }

    .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
      width: 300px;
      border-radius: 10px;
      height: 440px;
      justify-content: center;
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      }

      .bg-img{
        display: none;
       }

}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px){
  nav ul li a {
      font-size: 15px;
      padding: 13px;
  }
  .logo img{
      height: 40px;
      margin-left: 5px;
  }
  .page-footer{
    
    border-radius: 6px;
    font-size: 20px;
    }

    .bg-img{
      display: none;
    }

    .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
      width: 300px;
      border-radius: 10px;
      height: 440px;
      justify-content: center;
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      }

}

/* large device */
@media screen and (min-width: 993px) and (max-width: 1200px){
  nav ul li a {
      font-size: 17px;
      padding: 15px;
  }
  .logo img{
      height: 40px;
      margin-left: 5px;
  }
  .page-footer{
    
    border-radius: 6px;
    font-size: 20px;
     }

     .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
      width: 300px;
      border-radius: 10px;
      height: 440px;
      justify-content: center;
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      }


}

@media screen and (min-width: 300px) and (max-width: 650px) {
  nav ul li a {
    font-size: 17px;
    padding: 15px;
}
.logo img{
    height: 40px;
    margin-left: 5px;
}
.page-footer{
  
  border-radius: 6px;
  font-size: 20px;
   }

   .card {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    width: 300px;
    border-radius: 10px;
    height: 440px;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    margin-top: 20px;
    }

  }






.footer {
  background: #00246b;
  margin-top: 100px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer .row a:hover {
  color: grey;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
      text-align: left;
      padding: 5%;
  }

  .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
  }

  .footer .row a i {
      margin: 0% 3%;
  }
}




















