body{
    background-color: #6dcffb;


    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
   width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:  #007bff;
    border-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.btn2{ width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border-color:black;
    background-color:  #1621eeeb;
    color: white;
    font-size: 16px;
    cursor: pointer;


}
.btn3
{width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border-color: black;
    background-color:  white;
    color: black;
    font-size: 16px;
    cursor: pointer;


}