body{
    background-color: #6dcffb;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cadcfc;
}

nav {
    background-color: #00246b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
}
.container{
    font-size: 20px;
    color: #00246b;
    margin: 10px;
}
.services{
    background-color: white;
    padding: 25px;
    height: 350px;
    width: 250px;
    display: inline-block;
    border: 2px solid silver;
    border-radius: 30px;
    margin: 20px;
}
.services:hover{
    height: 351px;
    width: 251px;
    padding: 26px;
    border: 3px solid silver;
    border-radius: 31px;
    box-shadow: 0px 0px 40px 0px #0036b1;
    transition-duration: 0.5s;
}
.heading{
    text-align: center;
}
.img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid silver;
}
/*small screen*/
@media screen and (min-width: 100px) and (max-width: 850px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 20px 50px;
    }
}
/*medium screen*/
@media screen and (min-width:850px) and (max-width:1050) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        margin: 5px;
        padding: 5px;   
    }
}    
/*big screen*/
@media screen and (min-width: 1050px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin: 5px;
        padding: 5px;
    }
}