.container{
    font-size: 20px;
    color: #00246b;
   
}
.services{
    background-color: white;
    padding: 25px;
    height: 350px;
    width: 250px;
    display: inline-block;
    border: 2px solid silver;
    border-radius: 30px;
    margin: 20px;

}
.services:hover{
    height: 351px;
    width: 251px;
    padding: 26px;
    border: 3px solid silver;
    border-radius: 31px;
    box-shadow: 0px 0px 40px 0px #0036b1;
    transition-duration: 0.5s;
}
.heading{
    text-align: center;
}
.img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid silver;
}
/*small screen*/
@media screen and (min-width: 300px) and (max-width: 650px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 20px 50px;
    }
}
/*medium screen*/
@media screen and (min-width:650px) and (max-width:1050) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        margin: 5px;
        padding: 5px;   
    }
}    
/*big screen*/
@media screen and (min-width: 1050px) {
 
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
        padding: 5px;
    }
}
footer {
    background: #00246b;
    margin-top: 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: grey;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}