body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cadcfc;
}

nav {
    background-color: #00246b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
}

@media (min-width: 481px) and (max-width: 700px) {
    nav ul li a {
        font-size: 10px;
        padding: 6px;
    }
    .logo img{
        height: 30px;
    }
}

@media (min-width: 701px) and (max-width:1024px) {
    nav ul li a {
        font-size: 15px;
        padding: 10px;
    }

}
.content{
    padding: 90px 80px;
}

.content h2 span{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
}

.content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  #00246b;
    font-size: 35px;
}

.content p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(94, 91, 91);
    font-size: 30px;
    padding: 80px;
}

.content button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #00246b;
    color: #fff;
}

.content button:hover{
    background-color: #0036b1;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}